@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>You have succesfully confirmed your account!</h1>
<a asp-area="Identity" asp-controller="Account" asp-action="Login">Log in to your account</a>